*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: url(../1.jpg);
    background-size: cover;
}
div{
    width: 70%;
    background-color: cyan;
    margin: auto;
    box-shadow: 2px 4px 10px;
}
img{
    width: 100%;
    border-radius: 30px;
    padding: 20px;
    
}
p{
    margin: 20px;
    text-align: justify;
}
